<footer class = "site-footer">
    <div class = "wrapper">
        <p class = "description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <p class = "cookieSettings">
            🍪 <a href = 'javascript:cookiesSettings()' title = "Change cookie settings">Cookie settings</a>
        </p>
        <p class = "contact">
            <a href = "/contact/" title = "Contact"><i class = "fa fa-envelope-o" aria-hidden = "true"></i></a>
            {% if site.twitter_username %}
                <a href = "https://twitter.com/{{site.twitter_username}}" title = "Twitter"><i class = "fa fa-twitter" aria-hidden = "true"></i></a>
            {% endif %}
            {% if site.linkedIn_username %}
                <a href = "https://www.linkedin.com/in/{{site.linkedIn_username}}" title = "LinkedIn"><i class = "fa fa-linkedin" aria-hidden = "true"></i></a>
            {% endif %}
            {% if site.facebook_username %}
                <a href = "https://www.facebook.com/{{site.facebook_username}}" title = "Facebook"><i class = "fa fa-facebook-official" aria-hidden = "true"></i></a>
            {% endif %}
            {% if site.github_username %}
                <a href = "https://github.com/{{site.github_username}}" title = "GitHub"><i class = "fa fa-github" aria-hidden = "true"></i></a>
            {% endif %}
        </p>
    </div>
    <script src = "https://s.pageclip.co/v1/pageclip.js" charset = "utf-8"></script>
</footer>
