#cookiesConsentBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
}

.cookiesConsentButton {
    background-color: black;
    color: white;
    font-size: 16px;
    width: 90px;
    height: 30px;
    margin: 4px 2px 4px 8px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #404040;
    }
    &:active {
        border-color: #404040;
    }
}

.modal-h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
}

.modal-first-h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modal-option {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 5px;
}

.modal-switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 13%;
}

.modal-option-explanation {
    position: absolute;
    top: 0;
    right: 0;
    width: 87%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    .input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

input:checked + .slider {
    background-color: #4d6dad;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4d6dad;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
