#markdown-toc {
    display: none;
}
.button {
    width: 90px;
    height: 25px;
    background-color: white;
    color: #4d6dad;
    font-size: medium;
    margin: 4px 0px;
    padding: 8px 15px;
    border: 2px solid #4d6dad;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #e6f2ff;
    }
    &:active {
        border-color: #e6f2ff;
    }
}
.page[post] {
    .label {
        margin-top: 16px;
        overflow: hidden;
        .label-card {
            float: left;
            margin-right: 15px;
            .point {
                padding: 0 10px;
                color: #9d9d9d;
            }
            i {
                padding-right: 5px;
                color: #6b6a6a;
            }
        }
    }
    a {
        color: #4d6dad;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
            background-color: #f4efeb;
        }
    }
    .left {
        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 15px;
            }
        }
    }
}
