---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
        {% if page.comments %}
            <hr>
            <div id="disqus_thread"></div>
            <script>
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://vedranavidulin.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
