---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
        {% if page.comments %}
            <hr>
            <div id="disqus_thread"></div>
            <script>
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://vedranavidulin.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">
            <div class="side content">
                {% if page.links %}
                    <div>
                        Links
                    </div>
                        <ul class = "content-ul">
                            {% if site.twitter_username %}
                                <li><a href = "https://twitter.com/{{site.twitter_username}}" title = "Twitter"><i class = "fa fa-twitter" aria-hidden = "true"></i><span class = "links-list">{{site.twitter_username}}</span></a></li>
                            {% endif %}
                            {% if site.linkedIn_username %}
                                <li><a href = "https://www.linkedin.com/in/{{site.linkedIn_username}}" title = "LinkedIn"><i class = "fa fa-linkedin" aria-hidden = "true"></i><span class = "links-list">{{site.linkedIn_username}}</span></a></li>
                            {% endif %}
                            {% if site.github_username %}
                                <li><a href = "https://github.com/{{site.github_username}}" title = "GitHub"><i class = "fa fa-github" aria-hidden = "true"></i><span class = "links-list">{{site.github_username}}</span></a></li>
                            {% endif %}
                        </ul>
                {% else %}
                    <div>
                        Content
                    </div>
                    <ul id = "content-side" class = "content-ul">
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
